
body {
    display: flex;
    background-color: rgb(43, 38, 38);
    color: rgb(255, 0, 0);
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

main {
    display: flex;
    margin: 1em 0;
}

main p {
    margin: 1em;
}

code {
    box-sizing: border-box;
    border: 1px solid #111;
    padding: 1em;
    width: 100%;
    overflow-wrap: break-word;
}

input, button {
    border: 1px solid rgb(224, 114, 114);
    background-color: #111;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0.25em;
}

button:disabled,
button[disabled]{
    opacity: 0.6;
}
